@use '../../sass/mixins' as *;

.hero {
  max-width: 200rem;
  height: 93rem;
  padding: 0;
  @include query(tabPort) {
    margin-top: 3.4rem;
    height: auto;
  }
}

.container {
  position: relative;
  height: 100%;
  width: 100%;

  @media screen and (min-width: 56.25em) {
    &:hover > .split:hover {
      width: 55%;
    }
    &:hover > .split:not(:hover) {
      width: 45%;
    }
  }
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s;
  display: grid;
  grid-template-columns: repeat(auto-fit, min-content);
  align-content: center;
  align-items: center;
  row-gap: 4rem;
  & > * {
    margin: 0 auto;
  }
  @include query(tabPort) {
    position: static;
    width: 100%;
    padding: 3.2rem 0;
  }
}

.figure {
  text-align: center;
  position: relative;
  img {
    width: 60%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    border-radius: 50%;

    transition: all 0.3s;
    &:hover {
      opacity: 0.7;
    }
    &:hover + figcaption {
      bottom: 2rem;
      opacity: 1;
      visibility: visible;
    }
  }
  figcaption {
    color: var(--color-primary);
    background-color: black;
    padding: 2px 4px;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
    text-shadow: none;
  }
}

.txt {
  padding: 1rem 3rem;
  font-size: 2rem;
  max-width: 70rem;
  margin: 0 auto;
  border-radius: 1rem;
  text-align: center;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  &--left {
    box-shadow: 6px 6px 4px var(--color-pink);
  }
  &--right {
    box-shadow: 6px 6px 4px var(--color-blue);
  }
}

.left {
  color: var(--color-primary);
  left: 0;
  background-image: url(../../assets/Left.webp);
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    color: var(--color-blue);
    text-shadow: 2px 4px 0 var(--color-pink);
  }
  img {
    background: linear-gradient(
      131.73deg,
      rgba(255, 0, 200, 0.6) 15.61%,
      rgba(0, 238, 255, 0.6) 101.11%
    );
  }
  &-btn {
    color: var(--color-primary);
    text-shadow: 2px 2px 0 black;
    background-image: linear-gradient(
      to left,
      var(--color-pink),
      var(--color-blue),
      var(--color-pink)
    );
    background-size: 200%;
    transition: all 0.3s;
    box-shadow: 6px 6px var(--color-secondary);
    &:hover {
      background-position: right;
      color: black;
      text-shadow: 2px 2px 0 var(--color-primary);
    }
  }
}

.right {
  color: var(--color-secondary);
  right: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      transparent
    ),
    url(../../assets/Right.webp);
  background-size: cover;
  background-repeat: no-repeat;

  &-btn {
    transition: all 0.3s;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    box-shadow: 6px 6px var(--color-blue);
    &:hover {
      background-color: var(--color-primary);
      color: var(--color-secondary);
      box-shadow: 6px 6px var(--color-secondary);
    }
  }
  img {
    filter: grayscale(0.4);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6),
      rgba(255, 255, 255, 0.6)
    );
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  }
}
