.container {
  font-size: 2.4rem;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 12rem;

  h2 {
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 1);
    padding: 1rem 2rem;
    border-radius: 1rem;
  }
}
