@use '../../../sass/mixins' as *;
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 7.2rem;
  @include query(tabLand) {
    gap: 2.4rem;
  }
}

.skills {
  position: relative;
  text-align: center;
}

.txt-box {
  h2 {
    background: linear-gradient(to right, var(--color-blue), var(--color-pink));
    margin-bottom: 2.4rem;
  }
  span {
    font-weight: bold;
  }
}

.html {
  color: rgb(241, 102, 42);
}
.css {
  color: rgb(51, 169, 220);
}
.bootstrap {
  color: rgb(91, 66, 130);
}

.sass {
  color: rgb(205, 103, 153);
}
.js {
  background-color: yellow;
  padding: 3px 6px;
}
.ts {
  background-color: rgb(0, 122, 204);
  color: white;
  padding: 3px 6px;
}

.react {
  color: rgb(97, 218, 251);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 6px;
}

.rdx {
  color: rgb(118, 74, 188);
}

.jest {
  color: #c63d14;
}

.git {
  color: #dd4c35;
}

.list {
  transition: transform 0.3s;
  padding: 1rem 2rem;
}

.aside {
  padding-inline: 1rem max(2.2vw, 2rem);
  position: absolute;
  transition: transform 0.3s;
  top: 10%;
}

.btn {
  position: absolute;
  margin-left: 1rem;
  z-index: 2;
  background: linear-gradient(
    to right bottom,
    var(--color-pink),
    var(--color-blue)
  );
  top: 50%;
  right: 0;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-items: center;
  align-items: center;
  border: none;
  padding: 1rem;
  cursor: pointer;
  animation: bounceLeft 0.4s infinite alternate;
}

@keyframes bounceLeft {
  from {
    transform: translate(50%, -50%);
  }
  to {
    transform: translate(30%, -50%);
  }
}

.show {
  opacity: 1;
  transform: translate(0);
}

.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}
