@use '../../../sass/mixins' as *;
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 7.2rem;
  @include query(tabLand) {
    gap: 2rem;
  }
  @include query(tabPort) {
    grid-template-columns: 1fr;
  }
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0;
}

.entry {
  background-color: var(--color-secondary);
  padding: 2rem 4rem;
  overflow: hidden;
  transition: all 1s;
  position: relative;

  p {
    margin: 3rem 0 0;
    display: none;
  }
}

.active p {
  display: block;
}

.active h3 {
  color: var(--color-pink);
}

.active .btn {
  rotate: 180deg;
  background-color: var(--color-blue);
}

.btn {
  position: absolute;
  top: 2rem;
  right: 1rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-items: center;
  align-items: center;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.img-box {
  height: 48rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin: 8rem 0 4rem;
  padding: 2rem 4rem;
  gap: 4rem;
  border-radius: 5rem;
  background: linear-gradient(rgba(255, 0, 221, 0.2), rgba(0, 229, 255, 0.2));
  @include query(tabPort) {
    height: auto;
    img {
      width: 60%;
    }
  }
}
